doctype 5
html
  head
    title= title
    script(type='text/javascript',src='http://code.jquery.com/jquery-1.10.1.min.js')
    script(type='text/javascript',src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/control.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #header 日志测试系统
      p= info
    #content
      block content
    #footer  Log test platform. Copyright &copy;2013 TTpod.
